<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>   
	<extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="t"
            name="context"
            id="t">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="mainhandler.MainHandler"
            commandId="commands.t">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="transformMenu"
               label="ContextUsageSpecification"
               mnemonic="M">
            <command
                  commandId="commands.t"
                  id="t"
                  mnemonic="S"
                  tooltip="asd">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
